html,
body {
    margin: 0 0 0 256px;
    height: 100%;
    background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ps2p {
    font-family: 'Press Start 2P', cursive;
}

.context-text {
    font-size: 8px;
}

.title-text {
    font-size: 12px;
}
